.Dockerfile.swk
.Dockerfile.swl
.Dockerfile.swm
.Dockerfile.swn
.Dockerfile.swo
.Dockerfile.swp
.vsftpd.conf.swn
Dockerfile.bak
DockerfileFTP
DockerfileFTP2
vsftpd.bak 
vsftpd.confs
docker-compose.yml
dockerApache/.docker-compose.yml.swn
dockerApache/.docker-compose.yml.swp
dockerApache/2q
dockerApache/docker-compose.yml

